body {
  background-color: #eee;
  font-family: sans-serif;
}

#main-container {
  width: 1160px;
  background-color: #fff;
  margin: auto;
}

/* LAYOUT */
.column {
  border: #222 2px solid;
  padding: 12px;
  display: block;
  float: left;

}

.row {
  display: block;

}

.right {
  border-right-width: 0;
}

.above {
  border-bottom-width: 0;
}

.one-third {
  width: calc(33% - 23px);
  margin-left: 0;
}

.two-thirds {
  width: calc(66% - 23px);
}

.half {
  width: calc(50% - 29px);
}

/* FORM */
form.message-form {
  padding: 12px;
}

textarea.message-input {;
  height: 48px;
  resize: none;
  display: block;
  width: 98%;
  margin-bottom: 4px;
  border: 2px solid #222;
}

/* MESSAGE AREA */
.message-area {
  height: 85vh;
  overflow-y: scroll;
  padding: 12px;
}

.message {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 24px;
  border: 2px solid #222;
}

.message .from {
  text-align: right;
  font-style: italic;
}

.message img {
  width: 100%;
  margin-bottom: 4px;
}
